html {
     scroll-behavior: smooth;
}


body{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: var(--black);



}

main{
        width: 100%;  
    max-width: 100%; 
    overflow-x: hidden; 

}

:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Roboto", sans-serif;
    --secondary: #661ce7;
    --primary: #ff6433;
    --mint: #00d289;
    --black: #1e1b1b;
    --grey: #939191;
    --light-grey: #f2f2f2;
    --steelgrey: #e2e6e9;
    --white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;             
    margin: 0;                   
    padding: 0;   
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;   
    transition: all 0.3s ease;
    display: inline-block;
}

a:hover {

}


button {
   
    transition: transform 0.3s ease;
    will-change: transform;

}

button:hover {
    transform: scale(1.1);

}

.hide-for-blog-button{
    visibility: hidden;
    margin: 34px 0;
}
.item-hidden{
    visibility: hidden;
}

.button {
        border-radius: 12px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: var(--white);
    background: var(--primary);
    border: none;
}

.button:hover {
        background-color: #e55a2e;
}
.header {
    background-color: var(--white);
    padding-bottom: 135px;
}
.wrapper {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    gap: 40px;

}
.header__logo-link svg path {
    transition: fill 0.5s ease;
}
.header__logo-link:hover svg path {
    fill: var(--primary);
}

.header__navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.header__nav {
}
.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.header__nav-item {
}
.header__nav-link {

    
}

.header__nav-link:hover {
    color: var(--primary);
    transform: translateY(-2px);
}
.decoration-stick {
    width: 0.5px;
    height: 42px;
    background-color: var(--grey);
}
.header__information {
    display: flex;
    align-items: center;
    gap: 14px;
}
.header__information-link {
    width: 40px;
    height: 40px;
    transition:all 0.4s ease;
    border-radius: 50%;
    background-color: var(--mint);
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
}

.header__information-link svg {
    transition:all 0.4s ease;
}
.header__information-link:hover {
    transform: scale(1.1);  
    background-color: #009e68;
}
.header__information-link:hover svg{
    fill: var(--steelgrey);
}

.header__information-img {
}
.header__assistant-wrapper {
    display: flex;
    flex-direction: column;
    
}
.header__assistant-wrapper * {
    margin: 0;
    padding: 0;
}
.header__assistant-name {
    display: inline-block; 
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
}
.header__assistant-number {
    display: inline-block; 
}
.header__assistant-number:hover {
    color: var(--primary);
}


/*-----------------------------------------------*/
.header__body {
    display: flex;
    justify-content: space-between;
}
.header__body-content {
    margin: 82px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.header__body-tittle {
font-weight: 800;
font-size: 64px;
line-height: 131%;
letter-spacing: -0.03em;

}
.header__body-buttons {
    display: flex;
    gap: 49px;
    margin-bottom: 16px;
    align-items: center;


}
.header__body-button {
    

}
.header__player-wrapper {


}
.header__player-link {
        display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease;
    will-change: transform;
}
.header__player-link:hover {
    transform: scale(1.1);  
    color: var(--primary);
    
}

.header__player-link:hover .header__player-icon-wrap{
    background-color: var(--primary);
}

.header__player-link:hover svg path{
    transition: all 0.3s ease;

    
}

.header__player-link:hover svg path{
    fill: var(--white);
}
.header__player-icon-wrap{
    padding: 0 0 0px 2px;
    width: 24px;
    height: 24px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__player-text {
    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
text-align: right;
}
.header__body-information {
    display: flex;
    align-items: center;
    gap: 14px;
}
.header__body__information-img {
    width: 31px;
    height: 31px;
}

.header__body__information-img svg path {
    fill: var(--steelgrey);
}

.header__body__information-text-wrapper {
    display: flex;
    flex-direction: column;

}

.header__body__information-text-wrapper * {
        margin: 0;
    padding: 0;
}
.header__body__text {
font-weight: 500;
line-height: 150%;
color: var(--grey);
}
.header__body__time {
font-size: 18px;
line-height: 175%;
}
.header__body-service {
    position: relative;
    padding: 0 20px 0 30px;

    
}
.header__body-img {
}
.service__wrapper-quick {
    background: linear-gradient(174deg, #fff 0%, #fff 100%);
    transition: transform 0.3s ease;
    will-change: transform;
    box-shadow: 0 28px 118px 0 rgba(109, 108, 115, 0.12);
    background-clip: padding-box;
    border: 12px solid rgba(225, 225, 225, 0.43);
    border-radius: 90px;
    display: flex;
    align-items: center;
        padding: 12px 39px 12px 14px;
    gap: 15px;
     position: absolute;  /* Убираем из потока */
    display: inline-flex; /* Сжимаем по содержимому + flex внутри */
    flex-direction: row; /* или row - как вам нужно */
  top: 71px;    /* Не опускается ниже 70px */
  left: -15px;  /* Не уходит правее -15px */
}

.service__wrapper-quick:hover {
transform: scale(1.1);
}

.hr-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cba99;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    gap: 3px;
    

}
.hr-number {
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--white);
}
.hr-text {
    line-height: 175%;
color: var(--white);
}
.quick-text {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--black);    
}


.service__wrapper-rating {
    background: linear-gradient(174deg, #fff 0%, #fff 100%);
    transition: transform 0.3s ease;
    will-change: transform;
    background-clip: padding-box;
    box-shadow: 0 28px 118px 0 rgba(109, 108, 115, 0.12);
    border: 12px solid rgba(225, 225, 225, 0.43);
    border-radius: 90px;
    display: flex;
    align-items: center;
    padding: 24px 35px 24px 38px;
    gap: 14px;
         position: absolute;  /* Убираем из потока */
    display: inline-flex; /* Сжимаем по содержимому + flex внутри */
    flex-direction: row; /* или row - как вам нужно */
    top: 450px;
    left: 320px;

}

.service__wrapper-rating:hover{
transform: scale(1.1);
}

.rating-wrapper {
    display: flex;
    flex-direction: column;

}
.rating-wrapper * {
    margin: 0;
    padding: 0;
}
.number-rating {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--black);
}
.text-rating {
    font-weight: 500;
    line-height: 150%;
    color: var(--black);
    opacity: 0.7;

}
.star-row {
    display: flex;
    align-items: center;
    gap: 2px;
}
.star{
    width: 36px;
    height: 36px;

}
/*==============================MAin============================================*/

/*-=================================SECTION SERVICE*/
.main__section-Home {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    padding: 132px 0 124px 0;
    
}
.Home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 32px;
}
.Home__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0 234px;
}
.Home__text-wrapper * {
    margin: 0;
    padding: 0;
}
.WhatWeOffer {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--black);
    display: inline;
}
.Home-text {
    font-weight: 800;
font-size: 46px;
line-height: 131%;
letter-spacing: -0.03em;
text-align: center;
color: var(--black);
}
.Home__full-repair {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    width: 100%;
    gap: 8px;
}
.section__Home-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 232px;
    transition: all 0.4s ease;
    gap: 15px;

}

.section__Home-grid:hover {
    color: var(--white);
    background-color: var(--primary);
    
}

.section__Home-grid:hover .section__Home__grid-icon{
    filter: brightness(0) invert(1);
}

.section__Home__grid-icon {
    filter: brightness(0);
    display: inline;
}
.section__Home__grid-title {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-align: center;
    display: inline;
    margin: 0px;
}

.Home__learn-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    color: var(--black);

}

.Home__learn-more .Home__learn__more-text {
        transition: color 0.4s ease;
}


.Home__learn-more svg path {
    transition: fill 0.4s ease;
}

.Home__learn-more:hover .Home__learn__more-text{
    color: var(--primary);
}

.Home__learn-more:hover svg path {
    fill: var(--primary);
}

.Home__learn__more-text {
    display: inline;
    font-size: 18px;
    line-height: 175%;
    color: var(--black);
}



/*==========================================================================*/

.main__section-service {
    background-color: var(--white);
    padding-top: 138px;
}
.process {
    display: flex;
    justify-content: flex-start;
    gap: 131px;
    margin-bottom: 134px;
    flex-wrap: wrap;
}
.process-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

}
.process-left * {
    margin: 0;
    padding: 0;
}
.process__left-title {
font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
}
.process__left-text {
    line-height: 175%;
    opacity: 0.6;
    margin-bottom: 16px;
}
.button-wrapper{

}
.LearnMore {
    padding: 16px 40px;
}
.process-right {
    display: flex;
    flex-direction: column;
    gap: 16px;


}
.step {
    display: flex;
    gap: 24px;
}

.step-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-bottom: 6px;


}
.circle {
    border-radius: 50%;
    background-color: var(--secondary);
    width: 72px;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
    
    
}

.circle:hover{
    background-color: #4f1ab5;
}

.step-number{
    font-weight: 700;
    font-size: 32px;
    line-height: 75%;
    color: var(--white);
    

}

.circle-blur{
    width: 42px;
    height: 42px;
border-radius: 100%;
background-color:  rgba(255, 255, 255, 0.24);
position: absolute;
top: 52px;
}

.decoration-strokeDot {
    justify-self:center;
border: 2px dashed var(--primary);
width: 0px;
height: 71px;
}
.step-content {
    display: flex;
    flex-direction: column;
    justify-self: start;
    padding-top: 13px;
    gap: 8px;
}

.step-content * {
    margin: 0;
}

.step-title {
font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}

.step-text {
font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: var(--black);
opacity: 0.6;
}




/*=============================================================*/

.main__ContactUs {
    width: 100%;
    background: 
        url('./image/contact-img.jpg') left / 50% 100% no-repeat,
        url('./image/contact-img2.jpg') right / 50% 100% no-repeat;
}

.CTA {
    background: var(--primary);
    display: inline-flex;
    flex-direction: column;
    gap: 48px;
    padding: 128px 80px 128px 61px;
}
.CTA-tittle {
font-weight: 700;
font-size: 48px;
line-height: 140%;
letter-spacing: -0.03em;
color: var(--white);
padding-left: 19px;
}
.CTA__button-wrap {
}
.CTA-button {
    background-color: var(--black);

}

.CTA-button:hover {
    background-color: var(--black);
}

/*==============================================*/

.main__section-statistic {
    background-color: var(--light-grey);
}

.statistic-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 48px 0;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.statistic-container * {
    margin: 0;
    padding: 0;
}

.stat-num {
    font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
text-align: center;
color: var(--secondary);
}

.stat-tittle {
    font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
opacity: 0.7;

}


/*=============================================================*/

.main__section-AboutUs {
    background: var(--steelgrey);
    padding-bottom: 81px;
}
.AboutUs-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
   
}
.AboutUs-tittle {
font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
text-align: center;
color: var(--black);
 padding: 128px 420px 82px 420px;
}
.AboutUs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 39px;
    width: 100%;
      justify-items: center; /* центрирует элементы внутри ячеек */
  justify-content: center;

}

.AboutUs-Flex-item {

}

.AboutUs-Flex-item:hover {



}
.AboutUs-Flex-svg {

}

.AboutUs-Flex-svg:hover {

}
.AboutUs-Flex-item svg path {
    fill: #1E1B1B!important;
    transition: all 0.5s ease;

}

.AboutUs-Flex-item:hover svg path {
    fill: #ff6433 !important;
}


/*-------------------------------------------------------------------------------*/

.main__section__OurBlog {
    background-color: var(--white);

}
.section__Ourblog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding-top: 131px;
}
.OurBlog-tittle {
font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
color: var(--black);
}
.OurBlog-nav {
    margin-top: 1px;
}
.OurBlog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.OurBlog-item {
    font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}

.button-click {
    background-color: var(--white);
    border: none;
}

.Latest {
}
.Popular {
}
.Favorites {
}
.OurBlog-Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    gap: 32px;

}

.OurBlog-Grid * {
    margin: 0;
    padding: 0;
}
.OurBlog__grid-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}


.OurBlog__grid__item-img {
    margin-bottom: 8px;
}
.OurBlog__grid__item-date {
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--grey);
}
.OurBlog__gtemrid__i-name {
font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}
.OurBlog__grid__item-description {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: #232536;
}


/*---------------------------------------------------------------------------------------------------------*/


.main__section-slider .swiper-pagination {
    position: static !important;  /* Ключевое свойство! */
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    width: auto !important;
    margin: 0 !important;
    transform: none !important;
}

.main__section-slider .swiper-button-prev,
.main__section-slider .swiper-button-next {
        position: static !important;  /* Ключевое свойство! */
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    width: 48px !important;
    margin: 0 !important;
    transform: none !important;
    height: 48px;
    transition: all 0.3s ease;
    will-change: transform;
}

.main__section-slider .swiper-button-prev:hover,
.main__section-slider .swiper-button-next:hover {
    transform: scale(1.1) !important;
    background-color: var(--black);
    
}

.swiper-button-next:hover svg path{
    fill: var(--white);
}
.swiper-button-prev:hover svg path{
    fill: var(--white);
}



.main__section-slider {
    background: var(--light-grey);
    padding: 128px 0;

}
.main__section__slider-wrapper {
}
.slider__content-wrap {
}
.slider-tittle {
    font-family: var(--font-family);
font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
text-align: center;
color: var(--black);
margin-bottom: 76px;
}
.swiper {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}
.Myswiper {
    display: flex;
    justify-content: flex-end;
}
.swiper-wrapper {


}
.swiper-slide {
    display: flex !important;
    gap: 48px;

}
.slide-1 {
    display: flex;
    flex-direction: row;
    
}
.slider-comment {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 72px;
    gap: 24px;
    background-color: var(--white);
}
.about-user {
    display: flex;
    gap: 16px;
}
.slider-profile {
    border-radius: 50%;
width: 64px;
height: 64px;
}
.user__text-info {
    display: flex;
    flex-direction: column;
}
.user__text-info * {
    padding: 0;
    margin: 0;
}
.user-name {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}
.user-geo {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--grey);
}
.slider__comment-text {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}


.slider-nav {
    display: flex !important;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    flex-wrap: wrap;
}
.swiper-pagination {
    display: flex;
    align-items: center;
}
.left__right-buttons {
    display: flex;
    gap: 38px;
    padding: 7px;
}

.swiper-button-prev {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white);

}
.sliderr-arrow {
width: 23px !important;
height: 15px !important;

}
.swiper-button-next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white);
    
    

}


.right {
    transform: rotate(180deg) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none !important;
    content: '' !important;
}

.swiper-pagination {

    

}

.swiper-pagination-bullet {
    width: 32px !important;
    height: 0px !important;
    border: 2px solid var(--grey);
    border-radius: 0% !important;

}

.swiper-pagination-bullet-active {
    width: 32px;
    height: 0px;
    border: 2px solid var(--primary);

}
/*================================================================*/

.main__section-FAQ {
    background-color: var(--steelgrey);
    padding: 128px 0px;
}
.section-FAQ {
    display: flex;
    flex-direction: column;
    gap: 86px;
    align-items: center;
}
.FAQ-tittle {
    font-family: var(--font-family);
font-weight: 800;
font-size: 58px;
line-height: 131%;
letter-spacing: -0.03em;
text-align: center;
color: var(--black);
}
.FAQ-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 67.37%;
}
.FAQ-item {
    padding: 38px 41px;
    background-color: var(--white);

}
.item-header {
    display: flex;
    justify-content: space-between;
    
}
.item-tittle {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}
.toggle-checkbox {
    display: none;
}
.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 51px;
    height: 48px;
    background-color: var(--primary);

}
.item-body {
        max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
.item-content {
font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: var(--grey);

}

.toggle-checkbox:checked ~ .item-body {
    max-height: 200px;
    
}

.toggle-btn::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./image/Plus.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.toggle-checkbox:checked + .item-header .toggle-btn::before {
    background-image: url('./image/Minus.svg');
}
/*======================================================================================================*/


.main__section-FormGeo {
    width: 100%;
    background: 
        linear-gradient(white, white) 0 0 / 100% 80% no-repeat,
        url('./image/bback.jpg') 0 100%/ 100% no-repeat;
    padding: 128px 0 220px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 178px;
}
.Form {
    display: flex;
    flex-wrap: wrap;
    gap: 139px;
    padding: 0px 32px 0px 0px;
}
.Form__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    
}
.content-tittle {
    font-family: var(--font-family);
font-weight: 800;
font-size: 64px;
line-height: 131%;
letter-spacing: -0.03em;
color: var(--black);
padding-right: 50px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 2px;
}
.form-group *{
    margin: 0;
    padding: 0;
}
.your-name{
    background-color: var(--light-grey);
border: none;
border-radius: 2px;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--black);
width: 100%;
height: 26px;
padding: 36px 0px 36px 40px ;

}

.form-group {
}

.your-email {
background: var(--light-grey);
border: none;
border-radius: 2px;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--black);
width: 100%;
height: 26px;
padding: 36px 0px 36px 40px ;

}

.your-choose {
background: var(--light-grey);
border: none;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
width: 100%;
height: auto;
padding: 22px 0px 22px 40px ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.your-comment {
background: var(--light-grey);
border: none;
border-radius: 2px;
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--black);
width: 100%;
height: auto;
padding: 16px 0px 0px 40px;
resize: none;

}

.your-name:focus, .your-email:focus, .your-choose:focus, .your-comment:focus {
    outline: none;
}

.your-choose option {
    outline: none;
    border:none;
}

.form-button-wrap {
}
.form-button {
}
.Form-contacts {
    display: flex;
    flex-direction: column;
    padding: 205px 0px 114px 0px;
    gap: 32px;
}
.form-info {
    display: flex;
    flex-direction: column;
}
.form-info * {
    margin: 0;
    padding: 0;
}
.info-name {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--black);
opacity: 0.7;
}
.info-text {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.03em;
color: var(--black);
}
.Geo {
}
.your-name::placeholder,
.your-email::placeholder,
.your-comment::placeholder {
  color: var(--black); /* или любой другой серый для placeholder */
  opacity: 1; /* убирает полупрозрачность */
}

/*===========================================================================*/

.footerr {



}
.footer-body {
    background: var(--black);
    opacity: 0.98;
    padding: 128px 0;
}
.footer__body__content-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 31px;
    
}
.footer__body-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.footer__body-content *{ 
    margin: 0;
}

.footer__body__content-tittle {
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 140%;
letter-spacing: -0.03em;
color: var(--white);
}
.icons-wrap {
    display: inline-flex;
    gap: 24px;
    align-items: center;


}
.footer-icons {
        display: flex;
    align-items: center;
}
.footer-icons svg path{
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition: all 0.3s ease;

}

.footer-icons:hover svg path{
    width: 24px;
    height: 24px;
    fill: var(--grey);
}

.for-footer-text {
    color: var(--white);

}

.for-footer-name {
color: var(--white);
}

#info {
    padding: 0;
}



/*footr ура победа*/
.footer-end {
    background: var(--black);
}

.foote__end-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 65px 0;
}
.footer-logo svg path{
    transition:  0.5s ease;

}
.footer-logo:hover svg path {
    fill: var(--grey);

}


.footer-nav {
    display: flex;
}
.footer-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}

.footer-item {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--white);
}

.footer-company {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 175%;
color: var(--grey);
}

.footer-item-link {
    transition: all 0.3s ease;
    
}
.footer-item-link:hover {
        color: var(--grey);
    transform: translateY(-2px);


}


@media (max-width: 1330px) {
    .Home__text-wrapper{
        padding: 0;
    }
    .AboutUs-tittle{
        padding: 128px 0px 82px 0px;
    }
    #map{
        display: none;
    }

}

@media (max-width: 1190px) {
    .Form-contacts{
        padding: 0;
    }
    .Form{
        justify-content: center;
        padding-right: 0;
    }
    .content-tittle{
        text-align: center;
        padding-right: 0px;
    }
    .Form__content{
        justify-content: center;
        align-items: center;
    }
    .form-group{
        width: 100%;
    }
    .form-inputs{
        width: 100%;
    }
    .for-1190-form{
        margin-top: 205px;
    }

}

@media (max-width: 1188px) {
    .AboutUs-grid{

    }
}
@media(max-width: 1109px) {
        .for-1190-form{
        margin-top: 50px;
    }
    .for-1109-info{
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .process{
        justify-content: center;
    }
    .process__left-title, .process__left-text{
        text-align: center;

    }
    .button-wrapper{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1083px) {
    .section__Ourblog-wrapper{
        align-items: center;
    }
    .OurBlog-list{
        justify-content: center;
    }
}

@media (max-width: 1045px) {
    .header__body-service{
        display: none;
    }
    .header__navigation-wrapper{
        padding: 0 80px;
    }
    .header__top, .header__body, .header__nav-list, .header__body-buttons, .header__body-information, .footer-list {
        justify-content: center;
    }

    .foote__end-wrap{
        justify-content: center;
        gap: 40px;
    }

    .header__logo-link{
        margin-top:8px;
    }
    .swiper-slide {
        flex-direction: column;
    }
    .header__body-tittle, .header__player-text{
        text-align: center;
    }


}

@media (max-width: 949px) {
    .footer__body-content{
        align-items: center;
        text-align: center;
        gap: 40px;
        margin-bottom: 40px;
    }
    .footer__body__content-wrap{
        justify-content: center;
    }
}


@media (max-width: 870px) {
    .decoration-stick{
        display: none;
    }
    .header__information{
        padding:0 64px;
    }
    .main__ContactUs{
        background: none;
        background-color: var(--light-grey);
    }
        .statistic-wrapper{
        gap:30px;
        justify-content: center;
    }
        .statistic-container{
        justify-content: center;
        align-items: center;
    }
    .main__section-FormGeo{
        background: var(--white);
        padding-bottom: 0%;
    }

}

@media (max-width: 722px) {
    .Home__learn-more{
        width: 100%;
        justify-content: flex-end;
    }
    .hide-for-blog-button{
        visibility: visible;
    }
    .hide-for-Blog{
        display:none
    }
}
@media (max-width: 580px) {
    .header__navigation-wrapper{
        padding: 0 0px;
    }
    .slider-nav {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .item-hidden, .width-hidden {
        display: none;
    }
}
@media (max-width: 469px) {
    .hide-for-logo{
        display: none;
    }
    .FAQ-item{
        padding: 19px 20px;
    }
    .item-tittle{
        font-size: 22px;
    }
}
